.logoSVG {
  max-height: 3em;
  min-width: 75px;
  vertical-align: middle;
  height: 100%;
}
.logoSVG__tagLine {
  display: block;
}
.logoSVG__link {
  background-color: transparent;
  text-align: center;
}
.logoSVG__text {
  fill: #000;
}
