.metric {
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  &__name {
    display: block;
    font-size: 210%;
    width:100%;
    padding:0 10%;
    line-height: 150%;
  }
  &__value {
    display: block;
    font-size: 500%;
    line-height: 100%;
  }
  &__total {
    display: block;
    font-size: 160%;
    width:100%;
    padding:0 10%;
    line-height: 100%;
  }
  @each $current-color in $primary-colors-1 {
    $i: index($primary-colors-1, $current-color);
    &__index--#{$i} {
        background: $current-color;
        border:1px solid darken($current-color, 20%);
        .metric__name, .metric__value, .metric__total{
          color: lighten($current-color, 40%);
        }
        .metric__name {
          background: darken($current-color, 10%);
          border-bottom: 1px solid darken($current-color, 20%);
        }
    }
  }
}
