.metricList {
  width: 100%;
  margin: 1% 0;
  text-align: center;
}

@for $i from 1 through 5{
  .metricList--#{$i} .metric{
    width: (100% / $i) - 1;
    margin-right: 1%;
  }
  .metricList--#{$i} .metric:last-child{
    margin-right: 0;
  }
}
