@import 'vendor/reset';

@import 'variables/colors';

@import 'components/metricList';
@import 'components/metric';
@import 'components/logoSVG';
@import 'components/logoHTML';
@import 'components/header';

body {
  font-family: Work Sans,sans-serif;
  overflow: hidden;
}

#app {
  margin: 10px;
}
